################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/STEM.Surge/.vs/STEM.Surge 7.0/v16
/STEM.Surge/Extensions/STEM.Surge.Azure/obj/Debug/netstandard2.0
/STEM.Surge/Extensions/STEM.Surge.Azure/obj
/STEM.Surge/Extensions/STEM.Surge.BasicControllers/obj
/STEM.Surge/Extensions/STEM.Surge.Compression/obj/Debug
/STEM.Surge/Extensions/STEM.Surge.DropBox/obj
/STEM.Surge/Extensions/STEM.Surge.ErrorCleaner/obj
/STEM.Surge/Extensions/STEM.Surge.Fisher/obj
/STEM.Surge/Extensions/STEM.Surge.FlowControl/obj
/STEM.Surge/Extensions/STEM.Surge.FTP/obj
/STEM.Surge/Extensions/STEM.Surge.Machine/obj
/STEM.Surge/Extensions/STEM.Surge.MySQL/obj
/STEM.Surge/Extensions/STEM.Surge.PostGreSQL/obj
/STEM.Surge/Extensions/STEM.Surge.S3/obj
/STEM.Surge/Extensions/STEM.Surge.Security/obj
/STEM.Surge/Extensions/STEM.Surge.SMB/obj
/STEM.Surge/Extensions/STEM.Surge.SQLServer/obj
/STEM.Surge/Extensions/STEM.Surge.SQS/obj
/STEM.Surge/Extensions/STEM.Surge.SSH/obj
/STEM.Surge/Extensions/STEM.Surge.XML/obj
/STEM.Surge/STEM.Auth/obj
/STEM.Surge/STEM.Surge/obj
/STEM.Surge/STEM.Surge.ControlPanel/obj/Debug
/STEM.Surge/STEM.SurgeService (Core)/obj
/STEM.Surge/STEM.SurgeService (Framework)/obj/Debug
/STEM.Surge/STEM.Sys/obj
/STEM.Surge/STEM.Surge/bin/Release/netstandard2.0
/STEM.Surge/STEM.Surge.ControlPanel/bin/Release
/STEM.Surge/STEM.Surge.ControlPanel/obj/Release/TempPE
/STEM.Surge/STEM.Surge.ControlPanel/obj/Release
/STEM.Surge/STEM.SurgeService (Framework)/bin/Release
/STEM.Surge/STEM.SurgeService (Framework)/obj/Release
/STEM.Surge/STEM.Sys/bin/Release/netstandard2.0
/STEM.Surge/Extensions/STEM.Surge.Azure/bin/Release/netstandard2.0
/STEM.Surge/Extensions/STEM.Surge.BasicControllers/bin/Release/netstandard2.0
/STEM.Surge/Extensions/STEM.Surge.DropBox/bin/Release/netstandard2.0
/STEM.Surge/Extensions/STEM.Surge.ErrorCleaner/bin/Release/netstandard2.0
/STEM.Surge/Extensions/STEM.Surge.Fisher/bin/Release/netstandard2.0
/STEM.Surge/Extensions/STEM.Surge.FlowControl/bin/Release/netstandard2.0
/STEM.Surge/Extensions/STEM.Surge.FTP/bin/Release/netstandard2.0
/STEM.Surge/Extensions/STEM.Surge.Machine/bin/Release/netstandard2.0
/STEM.Surge/Extensions/STEM.Surge.MySQL/bin/Release/netstandard2.0
/STEM.Surge/Extensions/STEM.Surge.PostGreSQL/bin/Release/netstandard2.0
/STEM.Surge/Extensions/STEM.Surge.S3/bin/Release/netstandard2.0
/STEM.Surge/Extensions/STEM.Surge.Security/bin/Release/netstandard2.0
/STEM.Surge/Extensions/STEM.Surge.SMB/bin/Release/netstandard2.0
/STEM.Surge/Extensions/STEM.Surge.SQLServer/bin/Release/netstandard2.0
/STEM.Surge/Extensions/STEM.Surge.SQS/bin/Release/netstandard2.0
/STEM.Surge/Extensions/STEM.Surge.SSH/bin/Release/netstandard2.0
/STEM.Surge/Extensions/STEM.Surge.XML/bin/Release/netstandard2.0
/STEM.Surge/RequiredDlls/STEM.Surge.7.0.0.0.dll
/STEM.Surge/RequiredDlls/STEM.Sys.7.0.0.0.dll
/STEM.Surge/Extensions/STEM.Surge.Azure/bin/Debug/netstandard2.0
/STEM.Surge/Extensions/STEM.Surge.BasicControllers/bin/Debug/netstandard2.0
/STEM.Surge/Extensions/STEM.Surge.DropBox/bin/Debug/netstandard2.0
/STEM.Surge/Extensions/STEM.Surge.ErrorCleaner/bin/Debug/netstandard2.0
/STEM.Surge/Extensions/STEM.Surge.Fisher/bin/Debug/netstandard2.0
/STEM.Surge/Extensions/STEM.Surge.FlowControl/bin/Debug/netstandard2.0
/STEM.Surge/Extensions/STEM.Surge.FTP/bin/Debug/netstandard2.0
/STEM.Surge/Extensions/STEM.Surge.Machine/bin/Debug/netstandard2.0
/STEM.Surge/Extensions/STEM.Surge.MySQL/bin/Debug/netstandard2.0
/STEM.Surge/Extensions/STEM.Surge.PostGreSQL/bin/Debug/netstandard2.0
/STEM.Surge/Extensions/STEM.Surge.S3/bin/Debug/netstandard2.0
/STEM.Surge/Extensions/STEM.Surge.Security/bin/Debug/netstandard2.0
/STEM.Surge/Extensions/STEM.Surge.SMB/bin/Debug/netstandard2.0
/STEM.Surge/Extensions/STEM.Surge.SQLServer/bin/Debug/netstandard2.0
/STEM.Surge/Extensions/STEM.Surge.SQS/bin/Debug/netstandard2.0
/STEM.Surge/Extensions/STEM.Surge.SSH/bin/Debug/netstandard2.0
/STEM.Surge/Extensions/STEM.Surge.XML/bin/Debug/netstandard2.0
/STEM.Surge/STEM.Surge/bin/Debug/netstandard2.0
/STEM.Surge/STEM.Surge.ControlPanel/bin/Debug
/STEM.Surge/STEM.SurgeService (Core)/bin/Debug/netcoreapp3.0
/STEM.Surge/STEM.SurgeService (Framework)/bin/Debug
/STEM.Surge/STEM.Sys/bin/Debug/netstandard2.0
/STEM.Surge/.vs/STEM.Surge 7.0/DesignTimeBuild
/STEM.Surge/STEM.Surge.Internal
/STEM.Surge/STEM.SurgeService (Core)/bin/Release/netcoreapp3.0
/STEM.Surge/STEM.Sys.Internal
*.user
Required/STEM.Auth.dll
STEM.Surge/Binaries/STEM.Surge - 7 Installer.EXE
STEM.Surge/Binaries/pkg.zip
STEM.Surge/Binaries/Installer.exe
STEM.Surge/Binaries/STEM.Surge - 7 Installer.SED
STEM.Surge/RequiredDlls/STEM.Auth.dll
/STEM.Surge/STEM.LicenseGenerator
/STEM.Surge/Binaries/Extensions/STEM.Surge.7.0.0.0.dll
/STEM.Surge/Binaries/Extensions/STEM.Surge.Internal.7.0.0.0.dll
/STEM.Surge/Binaries/Extensions/STEM.Sys.7.0.0.0.dll
/STEM.Surge/Binaries/Extensions/STEM.Sys.Internal.7.0.0.0.dll
/STEM.Surge/Binaries/Surge-7.0-Installer.EXE
/STEM.Surge/Installer/bin/Release
/STEM.Surge/Installer/obj/Release
/STEM.Surge/Installer/obj/Debug
/STEM.Surge/Extensions/STEM.Surge.Kafka/obj
/STEM.Surge/Extensions/STEM.Surge.MQ/obj/Debug/netstandard2.0
/STEM.Surge/Extensions/STEM.Surge.Python/bin/Debug/netstandard2.0
/STEM.Surge/Extensions/STEM.Surge.Python/obj
/STEM.Surge/Extensions/STEM.Surge.RabbitMQ/bin/Debug/netstandard2.0
/STEM.Surge/Extensions/STEM.Surge.RabbitMQ/obj
/STEM.Surge/Extensions/STEM.Surge.Kafka/bin/Debug/netstandard2.0
/STEM.Surge/Extensions/STEM.Surge.Kafka/bin/Release/netstandard2.0
/STEM.Surge/Extensions/STEM.Surge.Python/bin/Release/netstandard2.0
/STEM.Surge/Extensions/STEM.Surge.RabbitMQ/bin/Release/netstandard2.0
/STEM.Surge/Extensions/STEM.Surge.HTTP/bin/Release
/STEM.Surge/Extensions/STEM.Surge.HTTP/obj/Release
/STEM.Surge/PoolManager - Copy.cs
/STEM.Surge/ThreadPool - Copy.cs
/STEM.Surge/Extensions/STEM.Surge.SQLServer/bin/Release
/STEM.Surge/STEM.Auth/bin/Release/netstandard2.0
/STEM.Surge/Extensions/STEM.Surge.ObjectTracking/bin
/STEM.Surge/Extensions/STEM.Surge.ObjectTracking/obj
/STEM.Surge/Extensions/STEM.Surge.SQLServer/bin/Debug
/STEM.Surge/STEM.Surge.ControlPanel
/STEM.Surge/Extensions/STEM.Surge.HealthMonitoring/obj/Release/netstandard2.0
/STEM.Surge/Extensions/STEM.Surge.HealthMonitoring/obj
/STEM.Surge/Extensions/STEM.Surge.Compression/bin/Release
/STEM.Surge/Extensions/STEM.Surge.Compression/obj/Release
/STEM.Surge/Extensions/STEM.Surge.HealthMonitoring/bin/Release/netstandard2.0
/STEM.Surge/Extensions/STEM.Surge.S3/bin/Release
/STEM.Surge/Extensions/STEM.Surge.Compatibility/bin/Release/netstandard2.0
/STEM.Surge/Extensions/STEM.Surge.Compatibility/obj
