################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.user
_ReSharper.*
.vs
bin
obj
packages
Installer
STEM.LicenseGenerator
STEM.Surge.ControlPanel
STEM.Sys.Internal
STEM.Surge.Internal
STEM.Surge.WebControlPanel
STEM.Surge/STEM.SurgeService (Core)/Properties/PublishProfiles/win-x64.pubxml.user
STEM.Surge/Binaries/pkg.zip
STEM.Surge/Binaries/Installer.exe
STEM.Surge - 7 Installer.SED
STEM.Surge/Binaries/Change File or Assembly Version.txt
STEM.Surge/Binaries/Extensions/System
