################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/STEM.Surge/.vs/STEM.Surge 7.0/v16
