[Unit]
Description=STEM.Surge service
After=network.target

[Service]
ExecStart=/opt/STEM.Surge/STEM.SurgeService
Restart=on-failure

[Install]
WantedBy=multi-user.target
